{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FrontPage: Trade without worries!</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    {% include 'partials/_navbar.html' %}

    {% if authorized %}
    <div class="container">
        <div class="home-image">
            <img src="{% static 'images/home.svg' %}" alt="home_svg" />
          </div>
      <div class="content">
        <h1 class="heading">Welcome back {{user.username}}!</h1>
        <h1>Your Amount: {{user.amount}}</h1>
      </div>
     
    </div>
    {% else %}
    <h1>Login into our amazing app</h1>
    {% endif %}
  </body>
</html>
