{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome home!</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <h1 class="heading">Welcome back {{user.username}}!</h1>
    <h1>Your Amount: {{user.amount}}</h1>
    {% endblock %}
</body>
</html>