{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'  %}">
    <link rel="stylesheet" href="{% static 'css/login.css'  %}">
</head>
<body>
    {% include 'partials/_navbar.html'%}
    <form action="{% url 'authorization:loginCheck' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="login-container">
            <h1 class="login">Login Form</h1>
            {% if error_message %}
            <p class="error_message">{{ error_message }}</p>
            {% endif %}
            <input type="text" name="username" placeholder="username" class="input">
            <input type="password" name="password" placeholder="password" class="input">
            <input type="submit" value="Send" class="submit-button">
            or
            <a class="submit-button" href="{% url 'authorization:signup' %}">Sign Up</a>
            </div>
            <div>
                <img src="{% static 'images/login_page.svg' %}" alt="login_page" class="login_svg"/>
            </div>
        </div>
    </form>
</body>
</html>