<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stocks</title>
</head>
<body>
    {% for company in data %}
    <form action="{% url 'stockslist:buy' %}" method="POST">
        {% csrf_token %}
    <fieldset style="width: 450px; text-align: center;">
        <legend>
    <h3 value="companySymbol">{{company.name}} ({{company.symbol}})</h3>
</legend>
    <p>Day High: ₹{{company.dayHigh}}</p>
    <p>Day Low: ₹{{company.dayLow}}</p>
    <p value="lastPrice">Last Price: ₹{{company.lastPrice}}</p>
    <p>Change: ₹{{company.pChange}}</p>
    <input type="hidden" name="companySymbol" value="{{ company.symbol }}">
    <input type="hidden" name="lastPrice" value="{{ company.lastPrice }}">
    {% if fetchUser %}
    <button type="submit" name= "buy" value="Buy">Buy</button>
    <button type="submit" name = "sell" value="Sell">Sell</button>
    {% else %}
    <button type="submit" name='buy' value="Buy" disabled>Buy</button>
    <button type="submit" name= 'sell' value="Sell" disabled>Sell</button>
    {% endif %}
    </fieldset>
    </form>
    {% endfor %}
</body>
</html>