<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>
<body>
    <h2>✅ Purchase Successful!</h2>
    <p>You have successfully bought:</p>
    <ul>
        <li>Symbol: {{ data.symbol }}</li>
        <li>Quantity: {{ data.quantity }}</li>
        <li>Buy Price: ₹{{ data.brought_prize }}</li>
        <li>Buy Time: {{ data.buy_time }}</li>
        <li>Total Cost: ₹{{ data.total_cost}}</li>
    </ul>

    <p>Your new balance: ₹{{ data.amount_left }}</p>

    <a href="{% url 'stockslist:index' %}">Go back to Home</a>
</body>
</html>